---
const content = "hi!"
---

<div>
  <h1>{content}</h1>
</div>

<script>
  let { log: logger } = console
  document.querySelector("h1")?.addEventListener("click", () => {
    logger("clicked")
  })
</script>
